<li>
	<h3>{{burger_name}}</h3>
	{{#if devour}}<button id="devour" data-id='{{id}}' data-newstatus='{{devour}}' type="button" class="btn btn-warning">DEVOUR</button>{{else}}<button id="delete" data-id='{{id}}' data-newstatus='{{devour}}' type="button" class="btn btn-danger" >DELETE</button>{{/if}}

</li>
