<li>
	<h2>{{burger_name}}</h2>
	{{#if devour}}<button id="devour" data-id='{{id}}' data-newstatus='{{devour}}' >DEVOUR!</button>{{else}}<button id="delete" data-id='{{id}}' data-newstatus='{{devour}}' >DELETE!</button>{{/if}}

</li>
